  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <% if animal.profile_photo.present? %>
        <%= image_tag(animal.profile_photo.file.url) %>
      <% else %>
        <strong>nenhuma foto</strong>
      <% end %>
      <div class="caption">
        <h3><%= animal.name %></h3>
        <p><%= animal.animal_description %></p>
        <p>
          <%= link_to("Adicionar fotos", animal_photos_path(animal), class: "btn btn-primary") %>
          <%= link_to("Editar perfil", edit_shelter_animal_path(shelter, animal), class: "btn btn-default") %>
        </p>

      </div>
    </div>
  </div>
