<div class="row">
    <div class="col-xs-5">
    <h3><%= @shelter.name %></h3>
        
    </div>
    <div class="col-xs-3">
    <h3 class="text-center"><small><%= link_to("Pedidos de adoção", shelter_path(@shelter)) %></small></h3>
        
    </div>
    <div class="col-xs-4">
        <h3 class="text-right"><small><%= link_to("Mensagens", shelter_path(@shelter)) %></small></h3>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-xs-6">
        <h4>Seus Pets</h4>
    </div>
    <div class="col-xs-6">
        <p class="text-right"><%= link_to("Adicionar pet", new_shelter_animal_path(@shelter)) %></p>
    </div>
</div>

<br/>

<% @animals.each_slice(2) do |slice| %>
    <div class="row">
        <% slice.each do |animal|  %>
            <%= render partial: "animal_cell", locals: {animal: animal, shelter: @shelter } %>
        <% end %>
    </div>
    <br />
<% end %>


