<div class="page-header">
  <h1><%= @shelter.name %></h1>
</div>

<div class="row">
    <div class="col-xs-2">
        
    </div>
    <div class="col-xs-10">
        <%= link_to("Pedidos de adoção", shelter_path(@shelter), class: "btn btn-default pull-right") %>
        <%= link_to("Mensagens", shelter_path(@shelter), class: "btn btn-default pull-right") %>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-xs-6">
        <h4>Seus Pets</h4>
    </div>
    <div class="col-xs-6">
        <p class="text-right"><%= link_to("Adicionar pet", new_shelter_animal_path(@shelter), class: "btn btn-primary") %></p>
    </div>
</div>

<br/>

<% @animals.each_slice(3) do |slice|  %>
    <div class="row">
        <% slice.each do |animal| %>
            <%= render partial: "animal_cell", locals: {animal: animal, shelter: @shelter } %>
        <% end %>
    </div>
<% end %>