<%= form_for [@shelter, @animal], :html => { role: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'form-label' %>
    <%= f.text_field :name, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :identifier, :class => 'form-label' %>
    <%= f.text_field :identifier, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sex, :class => 'form-label' %>
    <%= f.select :sex, options_for_select(Animal.attributes_for_select(:sex), selected: @animal.sex), {}, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :category, :class => 'form-label' %>
    <%= f.select :category, options_for_select(Animal.attributes_for_select(:category), selected: @animal.category), {}, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :animal_description, :class => 'form-label' %>
    <%= f.text_field :animal_description, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :animal_size, :class => 'form-label' %>
    <div class="forms">
      <%= f.select :animal_size, options_for_select(Animal.attributes_for_select(:animal_size), selected: @animal.animal_size), {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, :class => 'form-label' %>
    <%= f.date_field :birthday, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :neutered, :class => 'form-label' %>
    <%= f.check_box :neutered, :class => 'text_field' %>
  </div>
  <div class="form-group">
    <%= f.label :medical_issues, :class => 'form-label' %>
    <%= f.check_box :medical_issues, :class => 'text_field' %>
  </div>
    <div class="form-group">
    <%= f.label :medical_issues_description, :class => 'form-label' %>
    <%= f.text_field :medical_issues_description, :class => 'text_field form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :child_friendly, :class => 'form-label' %>
    <%= f.check_box :child_friendly, :class => 'text_field' %>
  </div>
  <div class="form-group">
    <%= f.label :dog_friendly, :class => 'form-label' %>
    <%= f.check_box :dog_friendly, :class => 'text_field' %>
  </div>
  <div class="form-group">
    <%= f.label :cat_friendly, :class => 'form-label' %>
    <%= f.check_box :cat_friendly, :class => 'text_field' %>
  </div>
  <div class="form-group">
    <%= f.label :litter_trained, :class => 'form-label' %>
    <%= f.check_box :litter_trained, :class => 'text_field' %>
  </div>
  <div class="form-group">
    <%= f.label :other_info, :class => 'form-label' %>
    <%= f.text_field :other_info, :class => 'text_field form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shelter_path(@shelter), :class => 'btn' %>
  </div>
<% end %>
