<%- model_class = Animal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:identifier) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:shelter_id) %></th>
      <th><%= model_class.human_attribute_name(:animal_description) %></th>
      <th><%= model_class.human_attribute_name(:animal_size) %></th>
      <th><%= model_class.human_attribute_name(:birthday) %></th>
      <th><%= model_class.human_attribute_name(:neutered) %></th>
      <th><%= model_class.human_attribute_name(:medical_issues) %></th>
      <th><%= model_class.human_attribute_name(:child_friendly) %></th>
      <th><%= model_class.human_attribute_name(:dog_friendly) %></th>
      <th><%= model_class.human_attribute_name(:cat_friendly) %></th>
      <th><%= model_class.human_attribute_name(:litter_trained) %></th>
      <th><%= model_class.human_attribute_name(:other_info) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= link_to animal.id, animal_path(animal) %></td>
        <td><%= animal.name %></td>
        <td><%= animal.identifier %></td>
        <td><%= animal.sex %></td>
        <td><%= animal.category %></td>
        <td><%= animal.shelter_id %></td>
        <td><%= animal.animal_description %></td>
        <td><%= animal.animal_size %></td>
        <td><%= animal.birthday %></td>
        <td><%= animal.neutered %></td>
        <td><%= animal.medical_issues %></td>
        <td><%= animal.child_friendly %></td>
        <td><%= animal.dog_friendly %></td>
        <td><%= animal.cat_friendly %></td>
        <td><%= animal.litter_trained %></td>
        <td><%= animal.other_info %></td>
        <td><%=l animal.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_animal_path(animal), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      animal_path(animal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_animal_path,
            :class => 'btn btn-primary' %>
