<%- model_class = Animal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @animal.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:identifier) %>:</strong></dt>
  <dd><%= @animal.identifier %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @animal.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @animal.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shelter_id) %>:</strong></dt>
  <dd><%= @animal.shelter_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:animal_description) %>:</strong></dt>
  <dd><%= @animal.animal_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:animal_size) %>:</strong></dt>
  <dd><%= @animal.animal_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
  <dd><%= @animal.birthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:neutered) %>:</strong></dt>
  <dd><%= @animal.neutered %></dd>
  <dt><strong><%= model_class.human_attribute_name(:medical_issues) %>:</strong></dt>
  <dd><%= @animal.medical_issues %></dd>
  <dt><strong><%= model_class.human_attribute_name(:child_friendly) %>:</strong></dt>
  <dd><%= @animal.child_friendly %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dog_friendly) %>:</strong></dt>
  <dd><%= @animal.dog_friendly %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cat_friendly) %>:</strong></dt>
  <dd><%= @animal.cat_friendly %></dd>
  <dt><strong><%= model_class.human_attribute_name(:litter_trained) %>:</strong></dt>
  <dd><%= @animal.litter_trained %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_info) %>:</strong></dt>
  <dd><%= @animal.other_info %></dd>
</dl>